!!!
%html
	%head
		%title hobo rpg
		%link{rel: 'stylesheet', href: '960.css'}
		%link{rel: 'stylesheet', href: 'style.css'}
		%script{src: 'lib/jquery-2.1.1.min.js'}
		%script{src: 'lib/lz-string-1.3.3-min.js'}
		%script{src: 'lib/fastclick.min.js'}
	%body
		.tooltip#tooltip
			%table#tooltip-transaction
		
		%header.container_12
			.grid_12.right
				%h2#clock
		
		%article.container_12
			.grid_3
				#story
			.grid_6
				%h3 map
				#places
				%h3#place
				%p#place-description
				#actions
				#store
					%h3 buy
					#buy
			.grid_3
				%h3 stats
				%table#stats
				%h3 skills
				%table#skills
				%h3 inventory
				%table#inventory
		
		%footer.container_12
			.grid_12.right
				v0.2
				%button.link#reset reset
				%a{href: 'https://github.com/AndrewBelt/hobo-rpg'} github
		
		%script{src: 'game.js'}
